<!--
 * AUTHOR: Team 103
 * FILENAME: navbarBottom.html
 * DESCRIPTION: This file contains the 'navbarBottom.html' content.
 -->

<nav class="navbar navbar-default navbar-bottom" id="navbarBottom">
  <div class="container-fluid">
    <div class="nav navbar-nav navbar-right">
      <p>
        Brought to you by <b>Team103</b> in <b>SpaceApps 2016</b> - Powered by <b>NASA</b>

        <!-- link and logo of spaceApps -->
        <a href="https://www.nasa.gov/" target="_blank" rel="home">
          <img src="img/nasaLogo.png" id="logoFooterNasa">
        </a>

        <!-- link and logo of nasa -->
        <a href="https://2016.spaceappschallenge.org/" target="_blank" rel="home">
          <img src="img/spaceAppsLogo.png" id="logoFooterSpaceApps">
        </a>
      </p>

    </div>
  </div>
</nav>
