<!--
 * AUTHOR: Team 103
 * FILENAME: symptoms.html
 * DESCRIPTION: This file contains the 'symptoms.html' content page.
 -->

<navbar-top></navbar-top>

<div id="eventsStyle" class="container-fluid">
  <h1 id="firstContent">Tell us about the environment surrounding you</h1>

  <p>
    <span ng-class="{earthquakeOn: earthquake,earthquakeOff:!earthquake}"
          ng-click="eventOn(1)"></span>
    <span ng-class="{fireOn:fire,fireOff:!fire}"
          ng-click="eventOn(2)"></span>
    <span ng-class="{tornadoOn:tornado,tornadoOff:!tornado}"
          ng-click="eventOn(3)"></span>
    <span ng-class="{volcanoOn:volcano,volcanoOff:!volcano}"
          ng-click="eventOn(4)"></span>
  </p>

  <p style="font-size: 70%">
    <b>Legend: </b>
    earthquake<img class="img-responsive" style="display: inline-block;" width="35px"
                   height="25px" src="./img/earthquake_grey.png" alt="tornado">
    , fire<img class="img-responsive" style="display: inline-block;" width="25px"
               height="25px" src="./img/fire_grey.png" alt="tornado">
    , tornado<img class="img-responsive" style="display: inline-block;" width="25px"
                  height="25px" src="./img/tornado_grey.png" alt="tornado">
    , volcano<img class="img-responsive" style="display: inline-block;" width="25px"
                  height="25px" src="./img/volcano_grey.png" alt="tornado">
  </p>

  <button ng-click="sendEvents()" class="w3-btn w3-round-xxlarge w3-large">Send information</button>

</div>

<navbar-bottom></navbar-bottom>