<!--
 * AUTHOR: Team 103
 * FILENAME: starter.html
 * DESCRIPTION: This class contains the 'starter.html' content page.
 -->

<div class="container-fluid" id="themeStyle">

  <div class="row">
    <div class="col-md-4">
      <a class="w3-btn w3-round-xxlarge w3-large" href="#/symptoms"><b>INSERT SYMPTOM</b></a>
    </div>
    <div class="col-md-4">
      <a class="w3-btn w3-round-xxlarge w3-large" href="#/events"><b>INSERT EVENT</b></a>
    </div>
    <div class="col-md-4">
      <a class="w3-btn w3-round-xxlarge w3-large" href="#/viewData"><b>VIEW DATA</b></a>
    </div>
  </div>

  <p><b>AirQ</b> is a web application that allows you to participate in a global registry
    of occurrences, both local occurrences and atmospherical conditions. Thanks to
    you participation, we can create a global map of occurrences and conditions,
    in which you could check your local air quality, visualizing them in a simple format.
  </p>
</div>
