<!--
 * AUTHOR: Team 103
 * FILENAME: starter.html
 * DESCRIPTION: This class contains the 'starter.html' content page.
 -->
<div class="container" id="themeStyle">

    <div class="row">
      <div class="col-md-4">
        <button class="w3-btn">INSERT SYMPTOM</button>
      </div>
      <div class="col-md-4">
        <button class="w3-btn">INSERT EVENT</button>
      </div>
      <div class="col-md-4">
        <button class="w3-btn">VIEW DATA</button>
      </div>
    </div>
  <p>asdkapsodkaspdokaspdkapskdpaskdpaskdpaksdpokaspdokaspdkapsokd</p>
</div>
