<navbar-top></navbar-top>

<div id="symptomsStyle" class="container-fluid">

  <h1 id="firstContent">Feeling odd? Help us collect your symptoms with this form:</h1>

  <form role="form" ng-submit="sendSymptom()">

    <div class="form-group">
      <label for="cough">How much are you coughing today?</label>
      <select id="cough" class="form-control" ng-model="cough" ng-options=
          "x for x in intensity" required>
        <option value="" disabled selected>Choose the intensity</option>
      </select>
      <ul class="example">
        <p>Example:</p>
        <li>0: none</li>
        <li>1: 0-1 times/day</li>
        <li>5: 1 time/hour</li>
        <li>10: 5- times/hour</li>
      </ul>
    </div>

    <div class="form-group">
      <label for="airLackness">Do you feel a lack of air?</label>
      <select id="airLackness" class="form-control" ng-model="airLackness" ng-options=
          "x for x in intensity" required>
        <option value="" disabled selected>Choose the intensity</option>
      </select>
      <ul class="example">
        <p>Example:</p>
        <li>0: none</li>
        <li>1: I can breathe perfectly</li>
        <li>5: I have some difficulties breathing</li>
        <li>10: I have a hard time breathing</li>
      </ul>
    </div>

    <div class="form-group">
      <label for="wheezing">Any wheezing today?</label>
      <select id="wheezing" class="form-control" ng-model="wheezing" ng-options=
          "x for x in intensity" required>
        <option value="" disabled selected>Choose the intensity</option>
      </select>
      <ul class="example">
        <p>Example:</p>
        <li>0: none</li>
        <li>1: I don’t have any breathing problems</li>
        <li>5: I suffer from soft wheezes</li>
        <li>10: I have serious wheezing problems</li>
      </ul>
    </div>

    <div class="form-group">
      <label for="sneezing">How much are you sneezing today?</label>
      <select id="sneezing" class="form-control" ng-model="sneezing" ng-options=
          "x for x in intensity" required>
        <option value="" disabled selected>Choose the intensity</option>
      </select>
      <ul class="example">
        <p>Example:</p>
        <li>0: none</li>
        <li>1: 0-1 times/day</li>
        <li>5: 1 time/hour</li>
        <li>10: 5- times/hour</li>
      </ul>
    </div>

    <div class="form-group">
      <label for="obstruction">Can you breath easily today?</label>
      <select id="obstruction" class="form-control" ng-model="obstruction" ng-options=
          "x for x in intensity" required>
        <option value="" disabled selected>Choose the intensity</option>
      </select>
      <ul class="example">
        <p>Example:</p>
        <li>0: none</li>
        <li>1: I can breath perfectly</li>
        <li>5: I have some difficulties breathing</li>
        <li>10: I have a hard time breathing</li>
      </ul>
    </div>

    <div class="form-group">
      <label for="itchy">Do you feel itchy eyes?</label>
      <select id="itchy" class="form-control" ng-model="itchy" ng-options=
          "x for x in intensity" required>
        <option value="" disabled selected>Choose the intensity</option>
      </select>
      <ul class="example">
        <p>Example:</p>
        <li>0: none</li>
        <li>1: I don’t feel any itchiness</li>
        <li>5: I feel minor itchiness</li>
        <li>10: I feel major itchiness</li>
      </ul>
    </div>

    <div class="form-group">
      <label for="airQuality">How does the general air quality around you feel?</label>
      <select id="airQuality" class="form-control" ng-model="airQuality" ng-options=
          "x for x in intensity" required>
        <option value="" disabled selected>Choose the intensity</option>
      </select>
      <ul class="example">
        <p>Example:</p>
        <li>0: none</li>
        <li>1: 0-1 times/day</li>
        <li>5: 1 time/hour</li>
        <li>10: 5- times/hour</li>
      </ul>
    </div>

    <button type="submit" class="w3-btn w3-round-xxlarge w3-large">Send information</button>
  </form>



</div>

<navbar-bottom></navbar-bottom>
