#eventsStyle {
  text-align: center;
  background-color: whitesmoke;
}
#eventsStyle button{
  margin: 1%;
  background-color: #677bdf;
}
#eventsStyle button:hover{
  background-color: #6a98ff;
  color: #fff;
}



.earthquakeOn{
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../img/earthquake.png") 0 0;
}
.earthquakeOff{
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../img/earthquake_grey.png") 0 0;
}
.fireOn{
  cursor: pointer;
  display: inline-block;
  width: 72px;
  height: 100px;
  background: url("../img/fire.png") 0 0;
}
.fireOff{
  cursor: pointer;
  display: inline-block;
  width: 72px;
  height: 100px;
  background: url("../img/fire_grey.png") 0 0;
}
.tornadoOn{
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../img/tornado.png") 0 0;
}
.tornadoOff{
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../img/tornado_grey.png") 0 0;
}
.volcanoOn{
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../img/volcano.png") 0 0;
}
.volcanoOff{
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../img/volcano_grey.png") 0 0;
}
