/*
 * AUTHOR: Team 103
 * FILENAME: eventsStyle.css
 * DESCRIPTION: This file contains the "events.html" style.
 */

/* fix the 100% of the height container style */
#eventsStyle {
  text-align: center;
  background-color: whitesmoke;
  margin: 0 auto;
  height: 91%;
  padding: 20px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

/* button style colors*/
#eventsStyle button{
  margin: 1%;
  background-color: #677bdf;
}
#eventsStyle button:hover{
  background-color: #6a98ff;
  color: #fff;
}


/* image style of events icons*/
.earthquakeOn{
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../img/earthquake.png") 0 0;
}
.earthquakeOff{
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../img/earthquake_grey.png") 0 0;
}
.fireOn{
  cursor: pointer;
  display: inline-block;
  width: 72px;
  height: 100px;
  background: url("../img/fire.png") 0 0;
}
.fireOff{
  cursor: pointer;
  display: inline-block;
  width: 72px;
  height: 100px;
  background: url("../img/fire_grey.png") 0 0;
}
.tornadoOn{
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../img/tornado.png") 0 0;
}
.tornadoOff{
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../img/tornado_grey.png") 0 0;
}
.volcanoOn{
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../img/volcano.png") 0 0;
}
.volcanoOff{
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../img/volcano_grey.png") 0 0;
}

/* fix the 100% of the height container style */
@media only screen and (max-width: 380px) {
  #eventsStyle {
    height: 100%;
  }
}
