#logoFooterNasa {
  max-width:50px;
  margin-top: -5px;
}

#logoFooterSpaceApps {
  max-width:70px;
  margin-top: -6px;
}

#navbarBottom {
  background-color: #5155a3 !important;
  border-color: #5155a3 !important;
  margin: 0;
  border-radius: 0;
  color: #fff;
}
#navbarBottom p {
  margin-top: 1%;
}
