/*
 * AUTHOR: Team 103
 * FILENAME: navbarTopStyle.css
 * DESCRIPTION: This file contains the "navbarTop.html" style.
 */

/* logo size */
#logoMenuAirQ {
  max-width:90px;
  margin-top: -5px;
}

/* color navbar */
#navbarTop {
  min-height: 80px;
  background-color: #1b234d !important;
  border-color: #111123 !important;
}
