/*
 * AUTHOR: Team 103
 * FILENAME: theme.css
 * DESCRIPTION: This class contains the global style.
 */

/* body background and font style */
body {
  background-image: url("../img/background.jpg");
  background-position: center 14%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

/* home bottom half section */
#themeStyle {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50%;
  background-color: whitesmoke;
}

/* buttons section */
#themeStyle .row{
  padding: 5% 0;
  text-align: center;
}
#themeStyle a{
  background-color: #677bdf;
}
#themeStyle a:hover{
  background-color: #6a98ff;
  color: #fff;
}

#themeStyle p {
  margin: 0 10%;
  text-indent:5%;
}

/* insert a gap behind the navbarTop */
#firstContent:before {
  display: block;
  content: " ";
  height: 100px;
  visibility: hidden;
}

/* form section */
.form-control {
  width: 20%;
}
ul.example {
  color: rgba(6, 6, 6, 0.46);
  margin: 1%;
  font-size: 85%;
  list-style-type: square;
}
.example p {
  margin: 0 0 5px;
}

a {
  cursor: pointer;
}


@media only screen and (max-width: 991px) {
  #themeStyle a {
    margin: 1%;
  }
  #themeStyle {
    height: 70%;
  }
  .form-control {
    width: 80%;
  }
}
